/* @tailwind base;
@tailwind components;
@tailwind utilities; */



/* CUSTOM CSS: PRETTY SCROLLBAR */
.x-scrollable {
    /* scrollbar-width: thin; */
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    touch-action: pan-y;
}

/* .x-scrollable:hover {
    scrollbar-width: thin;
    overflow-x: auto;
} */
.ps__rail-x {
    width: 0px !important;
}

.ps__rail-x:hover>.ps__thumb-x,
.ps__rail-x:focus>.ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
    height: 6px !important;
    background-color: none !important;
}


.y-scrollable {
    /* scrollbar-width: thin; */
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    touch-action: pan-x;
}

/* .y-scrollable:hover {
    scrollbar-width: thin;
    overflow-y: auto;
} */

.ps__rail-y:hover>.ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
    height: 6px !important;
    background-color: none !important;
}


.xy-scrollable {
    /* scrollbar-width: thin; */
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.xy-scrollable:hover {
    scrollbar-width: thin;
    overflow-x: auto;
    overflow-y: auto;
}

.ps__rail-xy:hover>.ps__thumb-xy,
.ps__rail-xy:focus>.ps__thumb-xy,
.ps__rail-xy.ps--clicking .ps__thumb-xy {
    height: 6px !important;
}




/* CUSTOM CSS: LAZY LOAD IMG */
.lazy-load {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.lazy-load .spinner {
    display: none;
    z-index: 1;
}

.lazy-load img[lazy="loading"]+.spinner {
    display: block;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lazy-load .spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



html[data-bs-theme=dark] {
    --notice-bg: white;
    --notice-btn-close: black;
    --area-title-color: white;
    --select2js-bg: #283046;
    --select2js-color: #b4b7bd;
    --select2js-border-color: #3b4253;
    --select2js-disabled-bg: #f0f0f0;
    --select2js-disabled-color: #a8a8a8;
}

html[data-bs-theme=light] {
    --notice-bg: var(--tz-alert-bg);
    --notice-btn-close: white;
    --area-title-color: white;
    --select2js-bg: #fff;
    --select2js-color: #6e6b7b;
    --select2js-border-color: #d8d6de;
    --select2js-disabled-bg: #f0f0f0;
    --select2js-disabled-color: #a8a8a8;

}


.alert-purple {
    background-color: var(--notice-bg) !important;
}

.notice .uix_noticeInner .btn-close {
    color: var(--notice-btn-close) !important;
}

.area-title {
    color: var(--area-title-color) !important;
}

section button {
    color: var(--area-title-color) !important;
}


section .posts-tags {
    color: var(--area-title-color) !important;
}



/* select.form-control, .custom-select {
    background-color: var(--select2js-bg) !important;
    color: var(--select2js-color) !important;
    border-color: var(--select2js-border-color) !important;
} */



/* Select2 styling */
.select2-container--default .select2-selection--single {
    background-color: var(--select2js-bg) !important;
    color: var(--select2js-color) !important;
    border: 1px solid var(--select2js-border-color) !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--select2js-color) !important;
}

.select2-container--default .select2-results__option {
    background-color: var(--select2js-bg) !important;
    color: var(--select2js-color) !important;
}

.select2-container--default .select2-results__option--highlighted {
    background-color: var(--select2js-border-color) !important;
    color: var(--select2js-color) !important;
}





.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--select2js-bg);
    border: 1px solid var(--select2js-color);
}


/* Style for disabled options in Select2 */
.select2-results__option[aria-disabled="true"] {
    color: var(--select2js-disabled-color) !important; /* Grayed-out text color */
    background-color: var(--select2js-disabled-bg) !important; /* Light gray background */
    cursor: not-allowed !important; /* Change cursor to indicate it's disabled */
}

