/* @tailwind base;
@tailwind components;
@tailwind utilities; */



/* CUSTOM CSS: PRETTY SCROLLBAR */
.x-scrollable {
    /* scrollbar-width: thin; */
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    touch-action: pan-y;
}

/* .x-scrollable:hover {
    scrollbar-width: thin;
    overflow-x: auto;
} */
.ps__rail-x{
    width: 0px !important;
}

.ps__rail-x:hover>.ps__thumb-x,
.ps__rail-x:focus>.ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
    height: 6px !important;
    background-color: none !important;
}


.y-scrollable {
    /* scrollbar-width: thin; */
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    touch-action: pan-x;
}

/* .y-scrollable:hover {
    scrollbar-width: thin;
    overflow-y: auto;
} */

.ps__rail-y:hover>.ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
    height: 6px !important;
    background-color: none !important;
}


.xy-scrollable {
    /* scrollbar-width: thin; */
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.xy-scrollable:hover {
    scrollbar-width: thin;
    overflow-x: auto;
    overflow-y: auto;
}

.ps__rail-xy:hover>.ps__thumb-xy,
.ps__rail-xy:focus>.ps__thumb-xy,
.ps__rail-xy.ps--clicking .ps__thumb-xy {
    height: 6px !important;
}




/* CUSTOM CSS: LAZY LOAD IMG */
.lazy-load {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.lazy-load .spinner {
    display: none;
    z-index: 1;
}

.lazy-load img[lazy="loading"]+.spinner {
    display: block;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lazy-load .spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* CUSTOM CSS: CATEGORY TAGS */
/* .posts-tags {
    padding: 6px 12px !important;
} */
